.formdiv{
    
    width:75%;
    margin:auto;
    padding:50px;
    border-style: ridge;
    border-width: 2px;
    margin-top:10px;
    background-color: rgb(52, 58, 64);
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}
.formdivedit{
    width:auto;
    margin:auto;
    padding:10px;
    border-style: ridge;
    border-width: 2px;
    margin-top:10px
}

.classdiv{
    display: flex;
    flex-direction: column;
}
.buttonclass{
    background-color: rgb(52, 58, 64);
    color:blanchedalmond
  }